{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>Benvenuto sul sito Ninux CA</h1>
    <a class="btn btn-success btn-lg" href="{% static '/static/ninux-ca.crt' %}"><span class="glyphicon glyphicon-download"></span>
Scarica certificato</a>
    <h2>Fingerprints</h2>
    <p>sha1: 3651F7992A7BE70E738C0C45CD09B359622AAC60</p>
    <p>md5: 972BFD22A38629CB2EEE595F91B23411</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-lg-12">
      <h2></h2>
      <p>Per informazioni sull'installazione segui i link in alto</p>
    </div>

  </div>
</div>
{% endblock %}
